@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }

    .promo {
        &__img {
            min-height: 368px;
        }

        &__title {
            font-size: 44px;

            &_span {
                font-size: 24px;
            }
        }
    }

    .offer {
        padding-bottom: 109px;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 168px 116px;

        &__item {
            padding-top: 58px;
            padding-bottom: 58px;
            background-size: cover;
            background-position: bottom center;

            &_4 {
                padding-top: 33px;
                padding-bottom: 33px;
            }
        }
    }

    .products {
        &__text {
            margin-bottom: 74px;
        }

        &__items {
            gap: 16px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            margin-bottom: 32px;
        }

        &__button {
            margin-bottom: 70px;
        }
    }

    .feature {
        padding-top: 48px;
        padding-bottom: 64px;
        flex-direction: column;
        gap: 48px;
        align-items: center;
    }

    .subscribe {
        flex-direction: column;
        padding-top: 64px;
        padding-bottom: 140px;

        &__box {
            width: 100%;

            &__subtitle {
                margin-bottom: 27px;
            }
        }

        &__info {
            margin-bottom: 48px;
        }
    }
}