@import 'var';
@import 'mexin';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: calc(50% - $widthContent/2);
    padding-right: calc(50% - $widthContent/2);
}

@import 'header';

@import 'index';

@import 'footer';

@import "product";



@import '1024px';

@import '767px'